.donation__wrapper {
  background: $color-light-l;
  padding: 80px 40px 100px;
  @include media-mobile {
    padding: 42px 10px 42px;
  }
}
.donation__image > img {
  display: block;
  width: 100%;
  max-width: 505px;
}
.donation__information {
  @include font($size:1.2rem, $height: 1.8rem, $weight:400, $style: italic, $spacing: 0em);
  color: $color-dark-m;
}
.donation__section-heading {
  text-align: left;
  margin: 0 0 20px !important;
  @include media-mobile {
    text-align: center;
  }
}
.donation__subheading {
  margin: 20px 0;
  @include media-mobile {
    @include font($size: 1.5rem, $height: 2.4rem, $spacing: 0em);
  }
}
.donation__card {
  @include flex($justify:space-between, $direction:row, $align:center);
  background-color: $color-primary;
  border-radius: 9px;
  max-width: 310px;
  padding: 10px 15px;
}
.donation__number {
  @include font($size:2rem, $height:2.3rem, $weight:400, $style:normal, $spacing:0.06em);
  color: $color-dark-i;
  text-decoration: none;
  @include media-mobile {
    @include font($size: 1.5rem, $height: 2.4rem, $spacing: 0em);
  }
  @include tablet-to-laptop {
    font-size: 1.5rem;
  }
}
.donation__content {
  max-width: 380px;
  @include media-mobile {
    @include flex($justify:space-between, $direction:column);
  }
}