.button {
  padding: 15px 45px;
  @include font(1.5rem, 2.2rem);
  border-radius: 100px;
  @extend %font-primary;
  letter-spacing: 0.06em;
  color: $color-dark-xl;
  cursor: pointer;
  @extend %transition;
  &_bordered  {
    border: 2px solid $color-primary;
    background: transparent;
  }
  &_colored {
    border: 2px solid $color-primary;
    background: $color-primary;
    color: $color-button;
    &:hover {
      border-color: $color-primary-light;
      background: $color-primary-light;
    }
  }
}
.button-arrow {
  width: 52px;
  height: 52px;
  border: 2px solid $color-primary;
  border-radius: 100px;
  color: $color-button;
  font-size: 1.4rem;
  background-color: $color-light-l;
  font-weight: bold;
  @extend %transition;
  &:hover {
    cursor: pointer;
    background-color: $color-primary;
  }
}