.ico {
  display: inline-block;
  cursor: pointer;
  width: 60px;
  height: 60px;
  @extend %transition;
  &:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  }
}