
@font-face {
  font-family: 'Arial';
  src: url(../../assets/fonts/Arial/ARIAL.TTF);
  font-weight: 400;
}
@font-face {
  font-family: 'Arial';
  src: url(../../assets//fonts/Arial/ARIALI.TTF);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Georgia';
  src: url(../../assets/);
  font-weight: 400;
}